#Ignore local file
DataIngestion/data/*

#ignore cache file
DataIngestion/__pycache__


#Ignore Congif files
ConfigFiles/*

#ignore client propertires files
client.properties

DataIngestion/kafka/client.properties.py

#ignore terraform files
terraform/.terraform

terraform/*tfstate*

terraform/.terraform*